<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
		</Console>
		<!-- 按日期每天生成log文件 -->
		<!-- fileName="/cpic/cpicapp/cust/logs/${sys:server.TYPE}/error.log" -->
		<RollingFile name="RollingFile"
			fileName="/applog/${sys:server.TYPE}/error.log"
			filePattern="temp/CL_BATCH-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d %p %C{1.} [%t] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<!-- 输出info级别信息 -->
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<logger name="org.apache.hadoop.hbase.HTableDescriptor" level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</logger>
 
	</Loggers>
</Configuration>  